# macOS
.DS_Store

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments & local env files
.venv/
venv/
.env
*.env
env/*.env
!env/*.env.example

# dbt build outputs
dbt/profiles.yml
dbt/target/
dbt/target_runtime/
dbt/dbt_packages/

# Airflow runtime directories
airflow/
logs/

# Notebooks
.ipynb_checkpoints/

# Coverage reports
.coverage
htmlcov/

# Editors
.vscode/
.idea/


# Others
data/archive
data/processed
@eaDir/
infra/n8n/
infra/postgres/data/
infra/pgadmin/
# dbt seeds snapshots
dbt/seeds/mapping_table/*.csv
dbt/seeds/synology_ingestion/*.csv
output.csv
