# Airflow environment variables
AIRFLOW__CORE__FERNET_KEY=CHANGE_ME_FERNET_KEY
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:${AIRFLOW_DB_PASSWORD:-airflow}@postgres:5432/airflow
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:${AIRFLOW_DB_PASSWORD:-airflow}@postgres:5432/airflow
AIRFLOW_HOME=/opt/airflow
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_DB_PASSWORD=CHANGE_ME_DB_PASSWORD
