# Metabase environment variables
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=metabase
MB_DB_PASS=CHANGE_ME   # must match create_metabase.sql
MB_DB_HOST=postgres
MB_ENCRYPTION_SECRET_KEY=CHANGE_ME
MB_SITE_URL=http://localhost:3000
